@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-bold.eot');
  src: url('../fonts/montserrat-bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat-bold.woff2') format('woff2'),
    url('../fonts/montserrat-bold.woff') format('woff'),
    url('../fonts/montserrat-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-medium.eot');
  src: url('../fonts/montserrat-medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat-medium.woff2') format('woff2'),
    url('../fonts/montserrat-medium.woff') format('woff'),
    url('../fonts/montserrat-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-regular.eot');
  src: url('../fonts/montserrat-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat-regular.woff2') format('woff2'),
    url('../fonts/montserrat-regular.woff') format('woff'),
    url('../fonts/montserrat-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-semibold.eot');
  src: url('../fonts/montserrat-semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/montserrat-semibold.woff2') format('woff2'),
    url('../fonts/montserrat-semibold.woff') format('woff'),
    url('../fonts/montserrat-semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Euclid Circular B Medium';
  src: url('../fonts/EuclidCircularB-Medium.eot');
  src: url('../fonts/EuclidCircularB-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/EuclidCircularB-Medium.woff2') format('woff2'),
    url('../fonts/EuclidCircularB-Medium.woff') format('woff'),
    url('../fonts/EuclidCircularB-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html {
  background-color: #FFFFFF;
  font-size: 16px;
  color: #000000;
}
.container {
  height: 100%;
  min-height: 100%;
}
.container-sub {
  height: auto;
  min-height: 100%;
}
.header {
  border-bottom: 1px solid #DDE0E5;
  display: flex;
  flex-direction: column;
}
.header__desktop {
  margin-bottom: 84px;
}
.header-main-line {
  display: flex;
  justify-content: center;
}
.header-main-line__logo {
  margin: 25px 33px 22px 0;
}
.logo {
  display: flex;
  align-items: center;
}
.logo-image {
  background: url(/img/logo.png) 50% no-repeat;
  background-size: contain;
  display: block;
}
.header-main-line__logo-size {
  height: 28px;
  width: 122px;
}
.menu {
  align-items: center;
}
.menu-hd {
  display: flex;
}
.menu-items {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.header-main-line .menu-items {
  margin-right: 156px;
}
.header-second-line .menu-items {
  margin-top: 0;
}
.menu-items__item {
  margin-right: 27px;
  position: relative;
  padding: 20px 0;
}
.menu-items__item:first-child {
  margin-right: 35px;
}
.menu-items__item:last-child {
  margin-right: 0;
}
.menu-item-text {
  color: #000000;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}
.menu-item-text:hover {
  color: #888888;
}
.menu-items .menu-items__item:hover > .menu-item-link > .menu-item-text,
.account-menu__lang-item:hover > .menu-item-link > .menu-item-text {
  color: #888888;
}
.menu-item-link {
  text-decoration: none;
}
.submenu-items {
  position: absolute;
  top: 50px;
  left: -15px;
  list-style-type: none;
  padding: 0 15px;
  display: none;
  width: max-content;
  border: 1px solid #DDE0E5;
  border-radius: 5px;
  background-color: #FFFFFF;
  z-index: 100;
}
.submenu-items:before {
  content: "";
  position: absolute;
  border: 15px solid transparent;
  border-bottom: 10px solid #DDE0E5;
  top: -25px;
  left: 15px;
}
.submenu-items:after {
  content: "";
  position: absolute;
  border: 15px solid transparent;
  border-bottom: 10px solid #FFFFFF;
  top: -24px;
  left: 15px;
}
.submenu-items .menu-items__item {
  padding: 8px 0;
  margin: 0;
}
.account-menu__lang-item {
  position: relative;
}
.menu-items .menu-items__item:hover ul,
.account-menu__lang-item:hover ul {
  display: block;
}
.menu-items .menu-items__item:hover ul li {
  display: block;
}
.account-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.account-menu > div {
  margin-right: 18px;
}
.account-menu div:first-child {
  margin-right: 25px;
}
.account-menu div:last-child {
  margin-right: 0;
}
.account-menu__lang-item,
.account-menu__basket-item,
.account-menu__search-item,
.account-menu__login-item {
  padding: 20px 0;
  display: flex;
  align-items: center;
}
.account-menu .submenu-items {
  width: max-content;
  top: 40px;
  left: -15px;
}
.account-menu__basket-link {
  fill: #000000;
  stroke: #000000;
}
.account-menu__search-link {
  fill: #000000;
  stroke: #000000;
}
.account-menu__basket-link:hover,
.account-menu__search-link:hover {
  cursor: pointer;
  fill: #888888;
  stroke: #888888;
}
.header-second-line {
  display: none;
  justify-content: center;
}
.header-mobile__logo {
  padding: 13px 0;
  margin: 0 20px 0 0;
  display: none;
}
.menu-burger, 
.mobile-menu-checkbox {
	display: none;
  margin: 0 0 0 20px;
}
.menu-burger {
  width: 20px;
  height: 20px;
  background-size: 100%;
}
#burger-icon {
  display: block;
  width: 20px;
  height: 20px;
  position: relative;
  margin: 0px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  -o-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  cursor: pointer;
}
#burger-icon span {
  display: block;
  position: absolute;
  min-height: 2px;
  width: 100%;
  background: #888888;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .15s ease-in-out;
  -moz-transition: .15s ease-in-out;
  -o-transition: .15s ease-in-out;
  transition: .15s ease-in-out;
}
#burger-icon:hover span {
  background-color: #000000;
}
#burger-icon span:nth-child(1) {
  top: 3px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#burger-icon span:nth-child(2) {
  top: 11px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#burger-icon span:nth-child(3) {
  top: 19px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
.mobile-menu-checkbox:checked ~ .menu-burger #burger-icon span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 1px;
  left: 2px;
}
.mobile-menu-checkbox:checked ~ .menu-burger #burger-icon span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
.mobile-menu-checkbox:checked ~ .menu-burger #burger-icon span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 16px;
  left: 2px;
}
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.partner-container {
  width: 1200px;
}
.partner-container__wrap {
  margin: 0 auto;
}
.partner {
  display: flex;
  flex-direction: column;
  background-color: #3D50F9;
  border-radius: 30px;
  margin-bottom: 155px;
}
.partner-columns-wrap {
  display: flex;
  justify-content: space-between;
}
.partner-description-column {
  width: 50%;
}
.partner-description__wrap {
  margin: 115px 0 0 100px;
}
.partner-pre-header {
  margin-bottom: 9px;
}
.partner-pre-header__text {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #FFFFFF;
}
.partner-header {
  margin-bottom: 30px;
}
.partner-header__text {
  margin: 0;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 50px;
  line-height: 97%;
  color: #FFFFFF;
}
.partner-description {
  margin-bottom: 55px;
}
.partner-description__text {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}
.orange-rounded {
  padding: 18px 37px;
  background-color: #FFC960;
  border-radius: 100px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
}
.orange-rounded:hover {
  background-color: #FFA940;
}
.partner-button {
  margin-bottom: 6vw;
}
.partner-button__text {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 16px;
  color: #151824;
}
.partner-picture-wrap {
  margin: 66px auto;
  position: relative;
}
.image-mask {
  background-color: #2C3442;
  mask-image: url(../img/rounded-octaedr.svg);
  -webkit-mask-image: url(../img/rounded-octaedr.svg);
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}
.partner-image {
  width: 456px;
  height: 456px;
  background: center/contain no-repeat url(../img/AdobeStock_164972173\ 2\ 1-min.png);
}
.patner-image__icon1 {
  position: absolute;
  width: 93px;
  height: 93px;
  top: 290px;
  left: -24px;
}
.patner-image__icon1-mask {
  width: 100%;
  height: 100%;
  background: #FF7449;
  mask-image: url(../img/squircle1.svg);
  -webkit-mask-image: url(../img/squircle1.svg);
  mask-size: contain;
  -webkit-mask-size: contain;
  display: flex;
  justify-content: center;
}
.patner-image__icon1-image {
  width: 55px;
  height: 100%;
  background: center/contain no-repeat url(../img/chart.svg);
  align-self: center;
}
.patner-image__icon2 {
  position: absolute;
  width: 93px;
  height: 93px;
  top: 36px;
  right: 2px;
}
.patner-image__icon2-mask {
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  mask-image: url(../img/squircle2.svg);
  -webkit-mask-image: url(../img/squircle2.svg);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: contain;
  -webkit-mask-size: contain;
  display: flex;
  justify-content: center;
}
.patner-image__icon2-image {
  width: 55px;
  height: 100%;
  background: center/contain no-repeat url(../img/handshake.svg);
  align-self: center;
}
.partner-button-wrap {
  justify-content: center;
  display: none;
}
.become {
  width: 100%;
  padding: 97px 0 114px 0;
  background-color: #2C3442;
  display: flex;
  justify-content: center;
}
.become-columns {
  display: flex;
  justify-content: space-between;
}
.become-column-offer {
  background: no-repeat url(./../img/rounded-octaedr.svg);
  background-size: 231px 231px;
  width: 393px;
  height: auto;
  margin-right: 113px;
}
.become-offer-wrap {
  padding: 67px 0 0 48px;
}
.become-offer-title {
  margin-bottom:37px;
  font-family: 'Montserrat';
  font-size: 42px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  z-index: 10;
}
.become-offer-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}
.become-column-form {
  width: 427px;
  padding: 44px 56px 62px;
  background-color: #FFFFFF;
  box-shadow: 0px 9px 23px rgba(22, 25, 32, 0.1);
  border-radius: 30px;
}
.become-form {
  display: flex;
  flex-direction: column;
}
.become-form__title {
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #151824;
}
.become-form__input-text,
.become-form__textarea {
  padding: 10px 19px;
  background: #FFFFFF;
  border: 1px solid #ABB0BA;
  border-radius: 4px;
  outline: 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* border: 1px solid #FF7449; */
}
.become-form__input-text {
  margin-bottom: 14px;
}
.become-form__textarea {
  margin-bottom: 34px;
}
.become-form__input-text:focus,
.become-form__textarea:focus {
  border: 1px solid #3D50F9;
  box-shadow: 0px 0px 4px rgba(41, 160, 228, 0.7);
}
.become-form__agreement-text {
  margin-bottom: 20px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #3D3E47;
}
.become-form__agreement-text a {
  color: #3D3E47;
  transition: all .3s;
}
.become-form__agreement-text a:hover {
  text-shadow: -1px 1px 2px #6d6f7c;
}
.become-form__submit-button {
  background: #3D50F9;
  border-radius: 10px;
  line-height: 20px;
  text-align: center;
  gap: 10px;
  cursor: pointer;
  border: 0;
  transition: all .3s;
  outline: 0;
}
.become-form__submit-button:hover {
  background: #2B38AD;
}
.become-form__submit-button:focus {
  box-shadow: 0px 0px 4px rgba(41, 160, 228, 0.9);
}
.submit-button__text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
  padding: 18px 0;
}
.footer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.footer__columns {
  padding: 95px 0 84px 0;
  display: flex;
  justify-content: center;
}
.column-copyright {
  display: flex;
  flex-direction: column;
  width: 380px;
  margin-right: 163px;
}
.footer-logo {
  margin-bottom: 15px;
}
.column-copyright__logo {
  display: block;
  width: 104px;
  height: 24px;
}
.column-copyright__text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 182%;
  color: #3D3E47;
}
.column-subscribe {
  display: flex;
  flex-direction: column;
  width: 465px;
}
.column-subscribe__title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 182%;
  color: #3D3E47;
  margin-bottom: 8px;
}
.column-subscribe__description {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 182%;
  color: #3D3E47;
  margin-bottom: 16px;
}
.column-subscribe__form {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.email-subscribe {
  width: 303px;
  margin-right: 9px;
  padding: 6px 12px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #8C929B;
  border: 1px solid #C3C4CA;
  border-radius: 3px;
  outline: 0;
}
.email-subscribe:focus {
  border: 1px solid #3D50F9;
  box-shadow: 0px 0px 4px rgba(41, 160, 228, 0.7);
}
.submit-subscribe {
  width: 144px;
  padding: 6px 36px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #FFFFFF;
  background: #3D50F9;
  border-radius: 3px;
  outline: 0;
  border: 0;
  transition: all .3s;
}
.submit-subscribe:hover {
  background: #2B38AD;
  cursor: pointer;
}
.submit-subscribe:focus {
  box-shadow: 0px 0px 4px rgba(41, 160, 228, 0.9);
}
@media screen and (max-width: 1250px) {
  .partner-container {
    width: 95vw;
  }
}
@media screen and (max-width: 1200px) {
  .header__desktop {
    margin-bottom: 6vw;
  }
  .partner-header {
    margin-bottom: 3vw;
  }
  .partner-description {
    margin-bottom: 5vw;
  }
  .partner-image {
    width: 40vw;
    height: 40vw;
  }
  .partner-picture-wrap {
    margin: 6vw auto;
  }
  .patner-image__icon1,
  .patner-image__icon2 {
    width: 9vw;
    height: 9vw;
  }
  .patner-image__icon1 {
    top: 25vw;
    left: -2.5vw;
  }
  .patner-image__icon2 {
    top: 3.4vw;
    right: 0.2vw;
  }
  .patner-image__icon1-image,
  .patner-image__icon2-image {
    width: 6vw;
  }
  .partner-description__wrap {
    margin: 6vw 0 0 5vw;
  }
}
@media screen and (max-width: 1119px) {
  .menu-hd {
    display: none;
  }
  .header-main-line__logo {
    margin: 18px 180px 18px 0;
  }
  .header-second-line {
    display: flex;
  }
  .menu-sd {
    margin-bottom: 0px;
  }
  .menu-items__item {
    padding: 0 0 20px;
  }
  .submenu-items {
    top: 35px;
  }
  .become {
    padding: 9vw 0 10vw 0;
  }
  .become-columns {
    margin: 0 7vw;
  }
  .become-column-offer {
    background-size: 22vw 22vw;
    width: 40%;
    margin-right: 6vw;
  }
  .become-offer-wrap {
    padding: 6vw 0 0 5vw;
  }
  .become-offer-title {
    margin-bottom: 4vw;
    font-size: 36px;
    line-height: 40px;
  }
  .become-offer-text {
    font-size: 22px;
    line-height: 26px;
  }
  .become-column-form {
    width: 40%;
  }
  .column-copyright {
    margin-right: 8vw;
  }
  .column-subscribe {
    width: min-content;
  }
  .column-subscribe__form {
    flex-direction: column;
  }
  .email-subscribe {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 899px) {
  .partner-pre-header__text {
    font-size: 18px;
  }
  .partner-header__text {
    font-size: 42px;
  }
  .partner-description__text {
    font-size: 20px;
  }
  .footer__columns {
    flex-direction: column-reverse;
  }
  .column-subscribe {
    width: 70vw;
  }
  .column-subscribe__form {
    flex-direction: row;
    margin-bottom: 80px;
  }
  .email-subscribe {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 699px) {
  .partner-pre-header__text {
    font-size: 16px;
  }
  .partner-header__text {
    font-size: 34px;
  }
  .partner-description__text {
    font-size: 18px;
  }
  .partner-button__col-left {
    display: none;
  }
  .partner-button-wrap {
    display: flex;
  }
  .become {
    padding: 6vw 0;
  }
  .become-columns {
    flex-direction: column;
    align-items: center;
    margin: 0 6vw;
  }
  .become-column-offer {
    width: 90%;
    min-height: 22vw;
    margin-right: 0;
    margin-bottom: 4vw;
  }  
  .become-column-form {
    width: 80%;
    padding: 5vw;
  }
  .become-form__title {
    font-size: 20px;
  }
}
@media screen and (max-width: 559px) {
  .header-main-line {
    display: none;
  }
  .header-second-line {
    justify-content: space-between;
    align-items: center;
  }
  .menu-burger {
    display: block;
  }
  .header-mobile__logo {
    display: block;
  }
  .menu-sd {
    height: 0;
    opacity: 0;
    transition: height .3s,opacity .3s;
    background-color: #FFFFFF;
    overflow: hidden;
    position: absolute;
    top: 55px;
    z-index: 150;
  }
  .menu-items__item {
    padding: 20px 0;
  }
  .mobile-menu-checkbox:checked ~ .menu-sd {
    visibility: visible;
    height: auto;
    opacity: 1;
    width: 100%;
  }
  .menu-items {
    width: 100%;
    padding: 0 20px;
    flex-direction: column;
    margin: 0;
  }
  .menu-items__item {
    border-bottom: 1px solid #DDE0E5;
  }
  .menu-items__item,
  .menu-items__item:first-child {
    margin-right: 40px;
  }
  .menu-items__item:first-child {
    padding-bottom: 0;
  }
  .menu-items__item:last-child {
    border-bottom: none
  }
  .menu-items__item .menu-item-text {
    color: #000000;
  }
  .menu-items__item:hover {
    cursor: pointer;
  }
  .menu-items__item:hover>a>.menu-item-text {
    color: #888888;
  }
  .submenu-items {
    left: 0;
    position: static;
    padding: 0 15px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    z-index: 0;
  }
  .submenu-items .menu-items__item {
    margin-right: 20px;
    padding: 15px 0;
  }
  .partner {
    border-radius: 15px;
    margin-bottom: 18vw;
  }
  .partner-columns-wrap {
    flex-direction: column;
  }
  .partner-description-column {
    width: 100%;
  }
  .partner-image {
    width: 55vw;
    height: 55vw;
  }
  .patner-image__icon1,
  .patner-image__icon2 {
    width: 12.4vw;
    height: 12.4vw;
  }
  .patner-image__icon1 {
    top: 34.4vw;
    left: -3.4vw;
  }
  .patner-image__icon2 {
    top: 4.7vw;
    right: 0.3vw;
  }
  .patner-image__icon1-image,
  .patner-image__icon2-image {
    width: 8.3vw;
  }
  .become-offer-title {
    font-size: 32px;
  }
  .become-offer-text {
    font-size: 20px;
  }
  .become-column-form {
    width: 90%;
    border-radius: 15px;
  }
  .become-form__title {
    font-size: 18px;
  }
  .become-form__input-text, .become-form__textarea {
    font-size: 14px;
    padding: 5px 10px;
  }
  .become-form__agreement-text {
    font-size: 13px;
  }
  .footer {
    width: 100%;
  }
  .footer__columns {
    padding: 15vw 20px 84px 20px;
  }
  .column-copyright {
    width: 100%;
    margin-right: 0;
  }
  .column-subscribe {
    width: 100%;
  }
  .column-subscribe__form {
    flex-direction: column;
  }
  .email-subscribe {
    margin: 0 0 10px;
    width: auto;
  }
}